@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.scrollable-bar {
    height: 400px; /*Set the height of the container*/
    overflow-y: scroll; /* Enable vertical scrolling */
    /* border: 1px solid #ddd; */
}
.scrollable-bar::-webkit-scrollbar {
    display: none; 
}
